.site-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.site-site {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.site-body {
  gap: 200px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  padding-top: 150px;
  padding-left: 400px;
  padding-right: 400px;
  flex-direction: column;
  padding-bottom: 150px;
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(25, 25, 25, 0.8) 0.00%,rgba(23, 23, 23, 0.8) 99.00%),url("public/frame%20994-1500w.png");
}
.site-aboutme {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 1200px;
  min-width: 900px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.site-title {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.site-text {
  color: rgba(241, 241, 241, 1);
  height: auto;
  flex-grow: 1;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.site-logo {
  width: 40px;
  height: 50px;
}
.site-text05 {
  color: rgba(241, 241, 241, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: 144.99999284744263%;
  font-stretch: normal;
  text-decoration: none;
}
.site-decoration {
  width: 1050px;
  height: 41px;
  align-self: stretch;
}
.site-myprojects {
  gap: 34px;
  display: flex;
  max-width: 1200px;
  min-width: 900px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.site-text24 {
  color: rgba(241, 241, 241, 1);
  width: 1120px;
  height: auto;
  flex-grow: 1;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.site-projects {
  gap: 58px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.site-cloudmedia {
  gap: 20px;
  width: 311.3333435058594px;
  display: flex;
  padding: 35px 40px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  flex-direction: column;
}
.site-body1 {
  gap: 15px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.site-title01 {
  width: 117px;
  height: 40px;
}
.site-text26 {
  color: rgba(241, 241, 241, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.site-buttonsrow {
  gap: 23px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.site-buttoninvite {
  gap: 10px;
  display: flex;
  padding: 10px 40px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(241, 241, 241, 1);
}
.site-text28 {
  color: rgba(24, 24, 24, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.site-shinshi {
  gap: 20px;
  width: 311.33331298828125px;
  display: flex;
  padding: 35px 40px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  flex-direction: column;
}
.site-body2 {
  gap: 15px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.site-title02 {
  gap: 25px;
  display: flex;
  align-items: center;
}
.site-logo1 {
  width: 51px;
  height: 51px;
}
.site-text30 {
  color: rgba(241, 241, 241, 1);
  height: auto;
  font-size: 25px;
  font-style: Medium;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.site-text32 {
  color: rgba(241, 241, 241, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.site-buttonsrow1 {
  gap: 23px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.site-buttoninvite1 {
  gap: 10px;
  display: flex;
  padding: 10px 40px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(241, 241, 241, 1);
}
.site-text34 {
  color: rgba(24, 24, 24, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.site-buttonserver {
  gap: 10px;
  display: flex;
  padding: 10px 40px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(241, 241, 241, 1);
}
.site-text36 {
  color: rgba(24, 24, 24, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.site-pomice {
  gap: 20px;
  width: 311.33331298828125px;
  display: flex;
  padding: 35px 40px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  flex-direction: column;
}
.site-body3 {
  gap: 15px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.site-title03 {
  gap: 25px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.site-logo2 {
  width: 49px;
  height: 50px;
}
.site-text38 {
  color: rgba(241, 241, 241, 1);
  height: auto;
  font-size: 25px;
  font-style: Medium;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.site-text40 {
  color: rgba(241, 241, 241, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.site-buttonsrow2 {
  gap: 23px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.site-buttongithub {
  gap: 10px;
  display: flex;
  padding: 10px 40px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(241, 241, 241, 1);
}
.site-text42 {
  color: rgba(24, 24, 24, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.site-portfoliolinks {
  gap: 35px;
  display: flex;
  max-width: 1200px;
  min-width: 900px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.site-text44 {
  color: rgba(241, 241, 241, 1);
  width: 1040px;
  height: auto;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.site-body4 {
  gap: 34px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
}
.site-linksrow {
  gap: 100px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.site-link {
  display: contents;
}
.site-behance {
  gap: 20px;
  width: auto;
  display: flex;
  padding: 24px 40px;
  overflow: hidden;
  flex-grow: 1;
  max-width: 1200px;
  min-width: 200px;
  align-self: flex-start;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(0, 87, 255, 1);
}
.site-title04 {
  gap: 15px;
  display: flex;
  align-items: center;
}
.site-icon {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 1000px;
}
.site-subtract {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.site-text46 {
  color: rgba(241, 241, 241, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-link1 {
  display: contents;
}
.site-vk {
  gap: 20px;
  width: auto;
  display: flex;
  padding: 24px 40px;
  overflow: hidden;
  flex-grow: 1;
  max-width: 1200px;
  min-width: 200px;
  align-self: flex-start;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(0, 119, 255, 1);
}
.site-title05 {
  gap: 15px;
  display: flex;
  align-items: center;
}
.site-icon1 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 1000px;
}
.site-subtract1 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.site-text48 {
  color: rgba(241, 241, 241, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-linksrow1 {
  gap: 100px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.site-link2 {
  display: contents;
}
.site-discord {
  gap: 20px;
  width: auto;
  display: flex;
  padding: 24px 40px;
  overflow: hidden;
  flex-grow: 1;
  max-width: 1200px;
  min-width: 200px;
  align-self: flex-start;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(88, 101, 242, 1);
}
.site-title06 {
  gap: 15px;
  display: flex;
  align-items: center;
}
.site-icon2 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 1000px;
}
.site-subtract2 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.site-text50 {
  color: rgba(241, 241, 241, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-link3 {
  display: contents;
}
.site-github {
  gap: 20px;
  width: auto;
  display: flex;
  padding: 24px 40px;
  overflow: hidden;
  flex-grow: 1;
  max-width: 1200px;
  min-width: 200px;
  align-self: flex-start;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(24, 24, 24, 1);
}
.site-title07 {
  gap: 15px;
  display: flex;
  align-items: center;
}
.site-icon3 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 1000px;
}
.site-subtract3 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.site-text52 {
  color: rgba(241, 241, 241, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-linksrow2 {
  gap: 100px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.site-link4 {
  display: contents;
}
.site-youtube {
  gap: 20px;
  width: auto;
  display: flex;
  padding: 24px 40px;
  overflow: hidden;
  flex-grow: 1;
  max-width: 1200px;
  min-width: 200px;
  align-self: flex-start;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 1);
}
.site-title08 {
  gap: 15px;
  display: flex;
  align-items: center;
}
.site-icon4 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 1000px;
}
.site-youtube1 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 1000px;
}
.site-subtract4 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.site-text54 {
  color: rgba(241, 241, 241, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-link5 {
  display: contents;
}
.site-twitch {
  gap: 20px;
  width: auto;
  display: flex;
  padding: 24px 40px;
  overflow: hidden;
  flex-grow: 1;
  max-width: 1200px;
  min-width: 200px;
  align-self: flex-start;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(145, 70, 255, 1);
}
.site-title09 {
  gap: 15px;
  display: flex;
  align-items: center;
}
.site-icon5 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 1000px;
}
.site-subtract5 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.site-text56 {
  color: rgba(241, 241, 241, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-footer {
  gap: 45px;
  display: flex;
  padding: 35px 75px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.site-frame995 {
  gap: 15px;
  width: 228.75px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.site-logocredentials {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.site-frame180 {
  gap: 15px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.site-logo3 {
  width: 23px;
  height: 30px;
}
.site-title10 {
  width: 190.26705932617188px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.site-text58 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-text60 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.55;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-text62 {
  color: rgb(57, 160, 255);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Light;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 300;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-frame1801 {
  gap: 10px;
  width: 228.75px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.site-text63 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-text65 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.50;
  font-size: 15px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: underline;
}
.site-text67 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.50;
  font-size: 15px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: underline;
}
.site-text69 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.50;
  font-size: 15px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: underline;
}
.site-frame996 {
  gap: 10px;
  width: 228.75px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.site-text71 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-text73 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.50;
  font-size: 15px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: underline;
}
.site-text75 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.50;
  font-size: 15px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: underline;
}
.site-text77 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.50;
  font-size: 15px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: underline;
}
.site-frame997 {
  gap: 10px;
  width: 228.75px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.site-text79 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-text81 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.50;
  font-size: 15px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.site-text83 {
  color: rgb(255, 255, 255);
  height: auto;
  opacity: 0.50;
  font-size: 15px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .site-body {
    padding-left: 250px;
    padding-right: 250px;
  }
  .site-aboutme {
    max-width: 1200px;
    min-width: 900px;
    align-self: center;
  }
}
@media(max-width: 1200px) {
  .site-body {
    padding-left: 50px;
    padding-right: 50px;
  }
  .site-aboutme {
    max-width: 1200px;
    min-width: 900px;
    align-self: center;
  }
}
@media(max-width: 991px) {
  .site-body {
    padding-left: 145px;
    padding-right: 145px;
  }
  .site-aboutme {
    width: 991px;
    max-width: 700px;
    min-width: 200px;
  }
  .site-myprojects {
    max-width: 700px;
    min-width: 200px;
    align-self: flex-start;
  }
}
